{% extends 'news/base.html' %}

{% load static %}

{% block content %}

<main>
    <!-- Trending Area Start -->
    <div class="trending-area fix pt-25 gray-bg">

        <div class="container">

            <div class="trending-main">
                 <h3>Hot news</h3>
                <div class="row">


                    <div class="col-lg-8">
                        <!-- Trending Top -->
                        <div class="slider-active">
                            {% for article in last_articles %}

                            <!-- Single -->

                            <div class="single-slider">

                                <div class="trending-top mb-30">

                                    <div class="trend-top-img">
                                        <img src="{{article.main_image.url}}" alt="">
                                        <div class="trend-top-cap">
                                            <span class="bgr" data-animation="fadeInUp" data-delay=".2s" data-duration="200ms">{{article.categories.all|first}}</span>
                                            <h2><a href="{% url 'latest_news' %}" data-animation="fadeInUp" data-delay=".2s" data-duration="200ms">{{article.name}}</a></h2>
                                            <p data-animation="fadeInUp" data-delay=".2s" data-duration="200ms">by
                                                {{article.author}}   -   {{article.pub_date}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {% endfor %}
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <!-- Trending Area End -->

    <!--   Weekly3-News start -->
    <div class="weekly3-news-area pt-80 pb-130">
        <div class="container">

            <div class="weekly3-wrapper">
                <h3>Popular news</h3>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="slider-wrapper">
                            <!-- Slider -->
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="weekly3-news-active dot-style d-flex">
                                        <div class="weekly3-single">
                                            <div class="weekly3-img">
                                                <img src="{% static 'img/gallery/weekly2News1.png' %}" alt="">
                                            </div>
                                            <div class="weekly3-caption">
                                                <span class="bgb">Python</span>
                                                <h4><a href="{% url 'latest_news' %}">What to Expect From the 2020 Oscar Nomin ations</a></h4>
                                                <p>19 Jan 2020 | by Jhon</p>
                                            </div>
                                        </div>
                                        <div class="weekly3-single">
                                            <div class="weekly3-img">
                                                <img src="{% static 'img/gallery/weekly2News2.png' %}" alt="">
                                            </div>
                                            <div class="weekly3-caption">
                                                <h4><a href="{% url 'latest_news' %}">What to Expect From the 2020 Oscar Nomin ations</a></h4>
                                                <p>19 Jan 2020</p>
                                            </div>
                                        </div>
                                        <div class="weekly3-single">
                                            <div class="weekly3-img">
                                                <img src="{% static 'img/gallery/weekly2News3.png' %}" alt="">
                                            </div>
                                            <div class="weekly3-caption">
                                                <h4><a href="{% url 'latest_news' %}">What to Expect From the 2020 Oscar Nomin ations</a></h4>
                                                <p>19 Jan 2020</p>
                                            </div>
                                        </div>
                                        <div class="weekly3-single">
                                            <div class="weekly3-img">
                                                <img src="{% static 'img/gallery/weekly2News4.png' %}" alt="">
                                            </div>
                                            <div class="weekly3-caption">
                                                <h4><a href="{% url 'latest_news' %}">What to Expect From the 2020 Oscar Nomin ations</a></h4>
                                                <p>19 Jan 2020</p>
                                            </div>
                                        </div>
                                        <div class="weekly3-single">
                                            <div class="weekly3-img">
                                                <img src="{% static 'img/gallery/weekly2News2.png' %}" alt="">
                                            </div>
                                            <div class="weekly3-caption">
                                                <h4><a href="{% url 'latest_news' %}">What to Expect From the 2020 Oscar Nomin ations</a></h4>
                                                <p>19 Jan 2020</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Weekly-News -->

</main>

{% endblock content %}